<!DOCTYPE html>
<html>
    <head>
         <link rel="icon"   href="/img/weather.png">
        <title> {{title}}</title>
        <link rel="stylesheet" href="/css/styles.css">
    </head>
    <body>
       <div class="main-content">  {{>header}}
        <img class="portrait"src="{{link}}" alt=""></div>

       {{>footer}}
    </body>
</html>